@charset "utf-8";
/* CSS Document */
hr {
	background-color:#C0C0C0;
	color:#D6D6D6;
	border:0px;
	height:1px;
}
.body_wrapper{
	margin:auto;
	width:1000px;
	}
#header_wrapper{
	width:1000px;
	height:55px;
	color:#0685D0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	
	}
#header_wrapper_admin{
	background-image:url(administrator/images/header_bg.jpg);
	background-repeat:repeat-x;
	height:150px;
	color:#0685D0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	margin-bottom:10px;
	clear:both;
	}
#header_wrapper a{
	text-decoration:none;
	color:#0685D0;
	font-size:11px;
	}	
#header_wrapper a:hover{
	color: #232323;
	}	
#logo{
	float:left;
	width:250px;
	margin-left:6px;
	clear:both;
	}	
#logo_admin{
	float:left;
	width:250px;
	margin-left:6px;
	}	
.lang{
	float:right;
	width:500px;
	text-align:right;
	margin-bottom:10px;
	margin-right:15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#0685D0 !important;
	
	}
.lang_admin{
	text-align:right;
	margin-bottom:10px;
	margin-right:15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#0685D0 !important;
	}
#menu{
	float:right;
	width:600px;
	text-align:right;
	margin-right:15px;
	margin-top:10px;
	}
#menu_admin{
	margin-left:15px;
	margin-top:50px;
	float:left;
	clear:both;
	}	
.dc a{
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	font-weight:bold;
	clear:both;
	}
.dc a:hover{
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	font-size:14px;
	}	
#menushort{
	float:right;
	width:600px;
	text-align:right;
	margin-top:10px;
	margin-bottom:10px;
	margin-right:15px;
	}	
#facebook_like{
	float:right;
	width:600px;
	text-align:right;
	margin-right:15px;
	}	
#facebook_like_admin{
	float:right;
	width:600px;
	text-align:right;
	margin-right:15px;
	color:#FFF;
	}		
	
/*============================*/
/*=== Custom Slider Styles ===*/
/*============================*/
#slider-wrapper {
    background:url(images/slider.png) no-repeat;
    width:1000px;
    height:370px;
    margin:0 auto;
    padding-top:0px;
    margin-top:0px;
}

#slider {
    width:950px;
    height:280px;
	background:url(images/loading.gif) no-repeat 50% 50%;
	top:30px;
	left:25px
	
}
.slider_l {
    width:950px;
    height:280px;
	background:url(images/loading.gif) no-repeat 50% 50%;
	
	
}
#slider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
#slider a {
	border:0;
	display:block;
}

.nivo-controlNav {
	position: absolute;
	left:820px;
	bottom:-30px;
}
.nivo-controlNav a {
	display:block;
	width:22px;
	height:22px;
	background:url(images/bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
}
.nivo-controlNav a.active {
	background-position:0 -22px;
}

.nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(images/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
a.nivo-prevNav {
	left:15px;
}

.nivo-caption {
    text-shadow:none;
    font-family: Helvetica, Arial, sans-serif;
}
.nivo-caption a { 
    color:#efe9d1;
    text-decoration:underline;
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.services_wrapper{
	

	
	}
.services_wrapper_1{
	width:260px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	}	
.services_wrapper_2{

	width:260px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	}
.services_wrapper_3{

	width:260px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	}	
.servi_text{
	margin-left:15px;
	margin-right:15px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000;
	}
.servi_text a{
	text-decoration:none;
	color:#FFF;
	font-size:14px;
	font-weight:bold;
	}	
.servi_text a:hover{
	color:#000;
	}		
.sevices_top{
	background-image:url(images/services_01.png);
	background-repeat:no-repeat;
	width:260px;
	height:34px;
	font-family: Arial, Helvetica, sans-serif;
	}	
.sevices_middle{
	background-image:url(images/services_02.png);
	background-repeat:repeat-y;
	width:260px;
	font-family: Arial, Helvetica, sans-serif;
	}
.sevices_end{
	background-image:url(images/services_04.png);
	background-repeat:repeat-y;
	width:260px;
	height:34px;
	font-family: Arial, Helvetica, sans-serif;
	}	
.readmore{
	text-align:right;
	}	
/*text style*/
.heading1{
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	margin-left:3px;
	font-weight:bold;
	}
.heading2{
	color:#84D706;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:bold;
	}	
.shortcuts{
	background-image: url(images/shortcut_bg.png);
	width:1000px;
	height:300px;
	padding-top:14px;
	padding-left:17px;
	background-repeat:no-repeat;
	}	
.menu_shortcut{
	width:920px;
	height:270px;
	
	}
	.content_news{
	width:288px;
	border:1px solid #E6E6E6;
	padding:15px;
	float:right;
	margin-left:10px;
	margin-right:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #555;
	text-align:justify;
	}
	.content_news a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #0685D0;
	text-decoration:none;
	}	
	.content_news a:hover{
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #60BCEE;
	}	
	.content_home{
	float:left;
	width:600px;
	border:1px solid #E6E6E6;
	padding:15px;
	margin-left:8px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #555;
	text-align:justify;
	}
.content{
	width:940px;
	border:1px solid #E6E6E6;
	padding:20px;
	margin:auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #555;
	text-align:justify;
	}
.content a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #0685D0;
	text-decoration:none;
	}	
.content a:hover{
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #60BCEE;
	}	
.content1{
	width:940px;
	border:1px solid #E6E6E6;
	padding:20px;
	margin:auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #555;
	}	
	
.footer{
	width:960px;
	border:1px solid #E6E6E6;
	padding:10px;
	margin-top:25px;
	margin:auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #555;
	text-align:center;
	clear:both;
	}	
.footer a{
	color:#099ED0;
	text-decoration:none;
	}	
	.footer a:hover{
	color: #02EAFD;
	text-decoration:none;
	}
/********** contact form **********/
#contactform { margin:0; padding:5px 10px; width:400px !important; 

}
#contactform * { color: #4F4F4F; }

#contactform input.text { width:400px; border:1px solid #ddd; margin:2px 0; padding:5px 2px; height:16px; background:#fff; float:none; }
#contactform textarea { width:400px; border:1px solid #ddd; margin:2px 0; padding:2px; background:#fff; float:none; }
#contactform li.buttons input { padding:3px 0 3px 110px; margin:10px 0 0 0; border:0; color:#FFF; float:none; }
#contactform input.text2 { width:250px; border:1px solid #ddd; margin:2px 0; padding:5px 2px; height:16px; background:#fff; float:none; }
 
  /*
  PURE CSS DROP MENU - VALIDATES AND WORKS IN ALL MAJOR BROWSERS   
*/
.dc{
    margin-left:20px;
	margin-top:50px;
	clear:both;
	font-size:16px;
	color: #0467CA;
	float:left;
}
